.venv
.env
db.sqlite3

staticfiles/

accounts/__pycache__
accounts/forms/__pycache__
accounts/migrations/__pycache__
accounts/views/__pycache__

config/__pycache__

factures/__pycache__
factures/migrations/__pycache__
factures/models/__pycache__
factures/views/__pycache__

payment/__pycache__
payment/migrations/__pycache__