/* login page */
.login-widget{
    border: 5px solid green;
    border-radius: 15px;
    padding: 15px;
    margin-top: 200px;
}

.login-widget h3{
    text-align: center;
}

.login-btn{
    float: right;
}