.main-top {
    margin-top: 150px;
}

.main-top .menu {
    background-color: green;
    color: white;
    border-radius: 15px;
    padding: 15px;
}

.main-top .devis{
    background-color: #af601a;
    color: white;
    border-radius: 15px;
    padding: 15px;
    margin-top: 25px;
}

.main-top a {
    text-decoration: none;
}

/* Dashboard */
.main-top .dashboard {
    font-family: Arial, Helvetica, sans-serif;
    padding: 25px;
}

/* Dashboard */
.main-top .tool-btp h3, .free h3{
    margin-bottom: 25px;

}

.main-top .dash-title {


    border-left: 5px green dashed;
    padding-left: 15px;
}

.why-us h2 {
    margin-bottom: 50px;
}

.why-us h4 {
    color: green;
}

.why-us .big-btn {
    margin-top: 30px;
}
