/* register page */
.content-register{
    margin-top: 110px;
}

.register-widget{
    border: 5px solid green;
    border-radius: 15px;
    padding: 15px;
    margin-top: 50px;
}

.register-widget h3{
    text-align: center;
    color: green;
}

.register-btn{
    float: right;
}