{% extends "layout/base.html" %}

{% load static %}


{%  block head %}
{% endblock %}

<title>
    {% block title %}
        Devis & Factures BTP - outil simple, rapide sans prise de tête
    {% endblock %}
</title>


{% block content %}
    <div class="container">
        <div class="row justify-content-center main-top">
            <div class="col-md-8">
                <h2 class="dash-title">Gérez vos devis et factures BTP facilement en ligne.</h2>

                <section class="welcome dashboard">
                    <p>
                        Bienvenue sur <strong>FacturaPro</strong>, le logiciel en ligne conçu spécialement pour les artisans et professionnels du bâtiment. 
                        Que vous soyez maçon, électricien, plombier, couvreur, étancheur ou conducteur de travaux, notre outil vous accompagne dans la gestion de vos devis et factures, rapidement et sans prise de tête.
                    </p>
                </section>

                <section class="tool-btp dashboard">
                    <h3>Un outil pensé pour le BTP</h3>
                    <ul>
                        <li>Créer des devis et Factures BTP détaillés en quelques minutes.</li>
                        <li>Éditer des factures conformes et personnalisées.</li>
                        <li>Transformer vos devis en factures en un clic.</li>
                    </ul>
                </section>

                
                <section class="free dashboard">
                    <h3>Simple, rapide, efficace</h3>
                    <ul>
                        <li>Pas besoin de formation, tout est intuitif.</li>
                        <li>Compatible sur ordinateur, tablette et smartphone.</li>
                        <li>Vos données sont sécurisées et sauvegardées.</li>
                    </ul>
                </section>

                <section class="why-us">
                    <h2>Pourquoi choisir notre solution ?</h2>
                    <div class="row mt-4">
                    <div class="col-md-4">
                        <h4>📄 Rapide</h4>
                        <p>Créez vos devis & factures en 2 minutes.</p>
                    </div>
                    <div class="col-md-4">
                        <h4>🛠️ Spécialisé</h4>
                        <p>Conçu pour artisans & PME du BTP.</p>
                    </div>
                    <div class="col-md-4">
                        <h4>✅ Conforme</h4>
                        <p>Vos documents sont réglementaires et sécurisés.</p>
                    </div>
    
                    <button type="button" class="btn btn-success btn-lg" onclick=redirectTo()>Créer mon compte</button>
                </section>
                <br /> <br /> <br /> <br /> <br /> <br />
            </div>
        </div>
    </div>
{% endblock %}


{% block custom_javascrpt %}
    <script>
        function redirectTo() {
            window.location.href="{% url 'accounts:register' %}";
        }
    </script>
{% endblock %}