{% extends "layout/base.html" %}

{% load static %}


{%  block head %}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row justify-content-center main-top">
            <div class="col-md-8">
                <h1 class="dash-title">Gérez vos devis et factures BTP facilement en ligne.</h1>

                <section class="welcome dashboard">
                    <p>
                        Bienvenue sur <strong>FacturaPro</strong>, le logiciel en ligne conçu spécialement pour les artisans et professionnels du bâtiment. 
                        Que vous soyez maçon, électricien, plombier, couvreur, étancheur ou conducteur de travaux, notre outil vous accompagne dans la gestion de vos devis et factures, rapidement et sans prise de tête.
                    </p>
                </section>

                <section class="tool-btp dashboard">
                    <h3>Un outil pensé pour le BTP</h3>
                    <p>Gagner des chantiers et être payé à temps passe par des documents clairs et professionnels. Avec <strong>FacturaPro</strong>, vous pouvez :</p>
                    <ul>
                        <li>Créer des devis et Factures BTP détaillés en quelques minutes.</li>
                        <li>Éditer des factures conformes et personnalisées.</li>
                        <li>Transformer vos devis en factures en un clic.</li>
                    </ul>
                </section>

                
                <section class="free dashboard">
                    <h3>Simple, rapide, efficace et gratuit</h3>
                    <p>Accessible en ligne, depuis le bureau ou le chantier, notre logiciel vous permet de rester concentré sur l'essentiel : votre métier.</p>
                    <ul>
                        <li>Pas besoin de formation, tout est intuitif.</li>
                        <li>Compatible sur ordinateur, tablette et smartphone.</li>
                        <li>Vos données sont sécurisées et sauvegardées.</li>
                    </ul>
                </section>

                <button type="button" class="btn btn-success btn-lg" onclick=redirectTo()>Créer votre facture gratuitement</button>
                <br /> <br /> <br /> <br /> <br /> <br />
            </div>
        </div>
    </div>
{% endblock %}


{% block custom_javascrpt %}
    <script>
        function redirectTo() {
            window.location.href="{% url 'factures:invoices' %}";
        }
    </script>
{% endblock %}