{% extends "layout/base.html" %}

{% load static %}


{%  block head %}
{% endblock %}


{% block content %}

    <div class="container">
        <div class="row justify-content-center main-top">
            <div class="col-md-8">
                <button type="button" class="btn btn-success mb-5" onclick=redirectTo()>Ajouter un produit</button>
                <table class="table caption-top border-dark">
                    <caption>{{ invoice.number  }} 
                      <a href="{% url 'factures:edit_invoice' invoice.id %}"> ✏️ Éditer</a>
                    </caption>
                    <thead class="tbl-bg text-center">
                        <tr>
                            <th scope="col">Description</th>
                            <th scope="col">Unité</th>
                            <th scope="col">Qté</th>
                            <th scope="col">P.U</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for invoice_item in invoice_items %}
                            <tr class="text-center">
                                <td>
                                    <a href="{% url 'factures:edit_item' invoice_item.id %}">
                                        {{ invoice_item.description }}
                                    </a>
                                </td>
                                <td>{{ invoice_item.unit }}</td>
                                <td>{{ invoice_item.quantity }}</td>
                                <td>{{ invoice_item.unit_price }}€</td>
                                
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br><br>
                {% if  invoice_items %}
                  <a href="{% url 'factures:invoice_pdf' invoice.id %}" target="_blank">📄 Télécharger le PDF</a>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}


{% block custom_javascrpt %}
    <script>
        function redirectTo() {
            window.location.href="{% url 'factures:add_item' invoice.id %}";
        }
    </script>
{% endblock %}