<h1>Détail de la facture {{ invoice.number }}</h1>

<p><strong>Client :</strong> {{ invoice.customer.name }}</p>
<p><strong>Titre :</strong> {{ invoice.title }}</p>
<p><strong>Description :</strong> {{ invoice.description }}</p>
<p><strong>Montant :</strong> {{ invoice.amount }} €</p>
<p><strong>Date de facturation :</strong> {{ invoice.issue_date }}</p>
<p><strong>Facture payée :</strong> {{ invoice.is_paid|yesno:"Oui,Non" }}</p>

<a href="{% url 'factures:edit_invoice' invoice.id %}">✏️ Éditer la facture</a>
<a href="{% url 'factures:delete_invoice' invoice.id %}" class="btn btn-sm btn-danger">🗑️ Supprimer</a>

<hr>

<h3>Produits de la facture</h3>
{% for invoice_item in invoice_items %}
    <p>
      <strong>Description :</strong> {{ invoice_item.description }}<br>
      <strong>Unité de mesure :</strong> {{ invoice_item.unit }}<br>
      <strong>Quantité :</strong> {{ invoice_item.quantity }}<br>
      <strong>Prix unitaire :</strong> {{ invoice_item.unit_price }} €
    </p>
    <a href="{% url 'factures:edit_item' invoice_item.id %}" class="btn btn-sm btn-warning">✏️ Modifier</a>
    <a href="{% url 'factures:delete_item' invoice_item.id %}" class="btn btn-sm btn-danger">🗑️ Supprimer</a>
    <hr>
{% empty %}
    <p>Aucun produit lié à cette facture.</p>
{% endfor %}

<br><br>
<a href="{% url 'factures:invoice_pdf' invoice.id %}" target="_blank">📄 Télécharger le PDF</a>
